<h1><%= Comment.model_name.human %></h1>
<% if comments.any? %>
  <ul>
    <% comments.each do |comment| %>
        <li>
          <p><%= t('activerecord.attributes.comment.content') %> : <%= comment.content %></p>
          <p><%= link_to comment.user.name_or_email, comment.user %> : <%= l comment.created_at, format: :short %></p>
          <% if current_user == comment.user %>
            <%= link_to t('views.common.edit'), edit_polymorphic_path([commentable, comment]) %> |
            <%= link_to t('views.common.destroy'), polymorphic_path([commentable, comment]), method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
          <% end %>
        </li>
    <% end %>
  </ul>
<% else %>
  (<%= t('.no_comments') %>)
<% end %>
