<div>
  <%= link_to followings_user_path(user) do %>
    <%= t('views.follow.detail.followings') %> <strong><%= user.followings.count %></strong>
  <% end %>
  &nbsp;
  <%= link_to followers_user_path(user) do %>
    <%= t('views.follow.detail.followers') %> <strong><%= user.followers.count %></strong>
  <% end %>
</div>
