<h1>ユーザー</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col"><%= t('activerecord.attributes.user.name') %></th>
    <th scope="col"><%= t('activerecord.attributes.user.introduction') %></th>
    <th scope="col"><%= t('activerecord.attributes.user.email') %></th>
    <th scope="col"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.introduction %></td>
      <td><%= user.email %></td>
      <td><%= link_to t('views.common.show'), user %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users %>
