<h1>ユーザー詳細</h1>

<p>
  <strong>氏名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>自己紹介文:</strong>
  <%= @user.introduction %>
</p>

<p>
  <strong>Eメール:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>都道府県:</strong>
  <%= @user.prefecture_code %>
</p>

<p>
  <strong>市町村:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>番地:</strong>
  <%= @user.street %>
</p>

<p>
  <strong>建物名:</strong>
  <%= @user.other_address %>
</p>

<% if current_user == @user %>
  <%= link_to '編集', edit_user_registration_path %> |
<% end %>
<%= link_to '戻る', users_path %>
