<h1><%= t('views.layouts.users.show') %></h1>

<p>
  <strong><%= t('activerecord.attributes.user.name') %></strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.introduction') %></strong>
  <%= @user.introduction %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.email') %></strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.zip_code') %></strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.prefecture_code') %></strong>
  <%= @user.prefecture_code %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.city') %></strong>
  <%= @user.city %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.street') %></strong>
  <%= @user.street %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.other_address') %></strong>
  <%= @user.other_address %>
</p>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
