<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<% if current_user == @report.user %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>

<%= render 'comments/comments', commentable: @report %>

<p><%= t('views.common.title_new', name: Comment.model_name.human) %></p>
<%= render 'comments/form', commentable: @report, comment: @report.comments.new %>
